@media screen and (min-width: 768px) {
    .footer { 
        width: 100%;
        background: $black;
    
        &__category-section {
    
        }
    
        &__categories-header {
        }
    
        &__categories-block {
        }
    
        &__tags {
            position: absolute;
            bottom: 0;
            max-width: 135px;
            height: 30px;
            
            &_it {
                background: $it;
            }
    
            &_auto {
                background: $auto;
            }
    
            &_art {
                background: $art;
            }
    
            &_science {
                background: $science;
            }
    
            &_russia {
                background: $russia;
            }
    
            &_sport {
                background: $sport;
            }
    
            &_network {
                background: $network;
            }
    
            &_world {
                background: $world;
            }
        }
    
        &__logo-section {
           
        }
    
        &__logo {
            margin: 50px 0;
        }
    
        &__social-section {
        }
    
        &__info-section {
            
        }
    }
    
    .footer-container {
    }
    
    .page {
        
        &__footer {
    
        }
    }
    
    .category-section {
    }
    
    .footer-tag {
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &__link {
          @include Rubik (700, 14px, 17px, $white);
          letter-spacing: 0.04em;
          text-transform: uppercase;
          text-decoration: none;
        }
    }
    
    .categories-header {
        &__text {
            @include Rubik (700, 36px, 43px, $white)
        }
    }
    
    .categories-block {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin: 0 15px;
    
        &__category {
        }
    }
    .category {
        position: relative;
        &__category-img {
        }
    
        &__link {
        }
    
        &__img {
            border-radius: 5px;
        }
    }
    
}