.social-section {

    &__social {
        margin-bottom: 50px;
    }

}

.social-footer {
    display: flex;
    gap: 12px;
    justify-content: center;

    &__link {

    }

}

.fb {
    @include Social (40px, 40px, $fb)
}

.vk {
    @include Social (40px, 40px, $vk)

}
.gplus {
    @include Social (40px, 40px, $gplus)
}
.ok {
    @include Social (40px, 40px, $ok)
}
.twitter {
    @include Social (40px, 40px, $twitter)
}
.telegram {
    @include Social (40px, 40px, $telegram)
}
.info-section {

    &__rights {
    }
}


// ============================
// 768px 
// ============================

@media screen and (min-width: 768px) {
    .social-section {
        order: 3;
        &__social {
            margin: 0;
        }
    
    }
    
    .social-footer {
        display: flex;
        gap: 10px;
        justify-content: center;
    
        &__link {
    
        }
    
    }
    
    .fb {
        @include Social (30px, 30px, $fb)
    }
    
    .vk {
        @include Social (30px, 30px, $vk)
    
    }
    .gplus {
        @include Social (30px, 30px, $gplus)
    }
    .ok {
        @include Social (30px, 30px, $ok)
    }
    .twitter {
        @include Social (30px, 30px, $twitter)
    }
    .telegram {
        @include Social (30px, 30px, $telegram)
    }
    .info-section {
        padding-bottom: 0;
        &__rights {
        }
    }
    
    
}