@media screen and (min-width: 768px) { 
    .main {
        max-width: 1920px;
        min-width: 320px;
        width: 100%;
    
        &_carousel {
        }
    
        &__main-news {
            position: absolute;
            bottom: 178px;
            margin-left: 250px;
        }
    
        &__news-block {
        }
    
        &__load-button {
            margin-bottom: 100px;
        }
    
    }
    
    .page {
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
    
        &__main {
        }
    }
    
}