$it:#FFCA28;
$auto: #26C6DA;
$art: #5C6BC0;
$science: #29B6F6;
$russia: #EF5350;
$sport: #9CCC65;
$network: #AB47BC;
$world: #26A69A;

$white: #ffffff;
$black: #333333;
$orange: #FFA726;
$lightGray: #F2F2F2;
$darkGray: #4F4F4F;
$standartGray: #BDBDBD;

$fb: #3B5998;
$vk: #4C6C91;
$gplus: #DC4E41;
$ok: #F68634;
$twitter: #55ACEE;
$telegram: #0088CC;