@media screen and (min-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        z-index: 100;
        position: absolute;
        top: 100px;
        left: -100%;
        transition: all 0.5s ease-in-out;
        height: fit-content;
        width: 100%;
        visibility: hidden;
    
        &__nav {
            display: none;
            margin: 45px 0 30px 0px;
        }
    
        &__ul {
            margin-right: 57px;
        }
    
        &__li:not(:last-child) {
            margin-bottom: 20px;
        }
    
        &__link {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            @include Rubik (700, 14px, 17px, #333333)
        }
    
        &__search {
        }
    
        &__search-links {
            display: flex;
            justify-content: center;
        }
    }
    
    .header__menu-active {
        visibility:visible;
        z-index: 100;
        transition: all 0.5s ease-in-out;
        position: absolute;
        height: fit-content;
        width: 100%;
        left: 0px;
        background-color: #fff;
    
        &__nav {
        }
    
        &__ul {
        }
    
        &__li:not(:last-child) {
        }
    
        &__link {
        }
    
        &__search {
        }
    
        &__search-links {
        }
    }
    
    .search {
        display: block;
        position: relative;
        margin-bottom: 20px;
        button {
            padding: 8px;
            border: none; 
            background: transparent;
            position: absolute;
            right: 3px;
            bottom: 0px;
        }
    }
    
    .menu {
    
            &__search {
            }
    
            &__form-block {
            }
    }
    
    .form-block {
            &__search-block {
    
            }
    }
    
    .search-form {
    
            &__input {
                width: 290px;
                height: 40px;
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 5px;
                background: #F2F2F2;
            }
    
            &__input[placeholder] {
                padding-left: 10px;
                @include Rubik (700, 18px, 21px, #686868)
            }
            &__input::placeholder {
                @include Rubik (700, 18px, 21px, #BDBDBD)
            }
    }
    
    .links {
        display: none;;
        align-self: center;
        // margin: 20px 0 20px 20px;
        &__ul {
        }
    
        &__li:not(:last-child) {
            margin-bottom: 15px
        }
    
        &__link {
            @include Source (400, 12px, 15px, #BDBDBD);
            text-decoration: none;
        }
    }
    
    .social {
        display: none;
        align-self: center;
        margin: 20px 0 22px 10px;
        &_links {
        }
    
        &__img {
        }
    
        &__links {
        }
    }
    
}