.burger {
    padding: 20px 0px 13px 20px;
    position: relative;

    &__item {
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: #333333;
        margin-bottom: 4px;
        }
    }

.header__burger_active {
    padding: 15px 20px;
    max-height: 480px;
    position: relative;
    padding: 15px 10px 10px 30px;
    .burger__item-elem1 {
        position: absolute;
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
        width: 25.29px;
    }
    .burger__item-elem2 {
      display: none;
    }
    .burger__item-elem3 {
        position: absolute;
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
        width: 25.29px;
    }
}