

@media screen and (min-width: 768px) {
    .header {
        min-width: 320px;
        max-width: 1920px;
        position: relative;
         &__top {
             margin: 5px 20px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             position: relative;
             height: 60px;
         }
     
         &__logo {
             
         }

         &__menu-top {
        
         }
     
         &__burger {
            display: block;
         }

         &__search-button {
            
         }
     
         &__burger-active {
             max-height: 480px;
             position: relative;
             padding: 15px 10px 10px 30px;
         }
     
     
         &__menu {
         }
     
         &__social {
         }

         &__main-news {
            position: absolute;
            bottom: 178px;
            margin-left: 250px;
         }

         &__header-bg {
            
         }
    }


    .menu-top {
        display: none;
        @include Rubik (700, 14px, 17px, $white);
    
        &__ul {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
        }
    
        &__li {
            padding: 3px 0;
    
            &:hover {
                background: $menuHover;
                border-radius: 5px;
            }
        }
    
        &__link {
            padding: 3px 7px;
            text-decoration: none;
            color: $black;
    
            &:hover {
                color: $white;
            }
        }
    }

    .search-button {
       button {
        cursor: pointer;
        padding: 15px 15px;
        border: none;
        background: transparent;
       }
    }

    .upper-top {
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightGray;
        &__search-links {
        }
    }
    .header {
    
        &__upper-top {
        
        }
    
        &__top-social {
        }
    }
    .top-links {
    
        &__ul {
            display: flex;
            gap: 30px;
        }
    
        &__li {

        }
    
        &__link {
            @include Source (400, 12px, 15px, #BDBDBD);
            text-decoration: none;

            &:hover {
                color: $orange;
            }
        }
    }
    .top-social {
    
        &__links {

        }
    
        &__img {
            
        }
    }
    
    .header-bg {
        position: relative;
        margin-bottom: 70px;
        &__background {
            object-fit: cover;
            min-width: 320px;
            max-width: 100%;
            min-height: 400px;
        }
    }
    
    
    .main-news {
        display: flex;
        justify-content: center;
        
        &__content-header {
        }
    
        &__publication-time {
        }
    }
    
    .content-header {
        color: $white;
        bottom: 120px;
        margin-left: 20px;
        max-width: 770px;
        height: fit-content;
    
        &__tag-block {
            display: flex;
            
        }
    
        &__tags {
            margin-right: 20px;

            &_world {
                background: $world
            }
    
            &_network {
                background: $network
            }
    
            &_art {
                background: $art
            }
    
            &_science {
                background: $science
            }
    
            &_auto {
                background: $auto
            }
    
            &_russia {
                background: $russia;
            }
    
            &_it {
                background: $it;
            }
        }
    
        &__main-news {
        }
    }
    
    
    .tag {
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 5px 8px;
        border-radius: 5px;
        &__link {
            text-decoration: none;
            @include Rubik (700, 14px, 17px, $white);
        }
    }
    .main-info {
        &__header {
            margin: 25px 0 10px 0;
            @include Rubik (700, 48px, 57px, $white);
        }
    }
    .publication-time {
        display: flex;
    
        &__icon {
            margin-right: 10px;
        }
    
        &__time-tracker {
            @include Source (400, 14px, 18px, $white);
        }
    }
    
}

@media screen and (min-width: 730px) {
    .header {
        display: flex;
        flex-direction: column;
        position: relative;
         &__top {
             margin: 5px 20px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             position: relative;
             height: 60px;
         }
     
         &__logo {
             
         }

         &__menu-top {
            
         }

         &__top {
            
         }
     
         &__burger {
            display: block;
         }

         &__search-button {
            
         }
     
         &__burger-active {
             max-height: 480px;
             position: relative;
             padding: 15px 10px 10px 30px;
         }
     
     
         &__menu {
         }
     
         &__social {
         }
    }

    .menu-top {
        display: none;
        @include Rubik (700, 14px, 17px, $white);
    
        &__ul {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    
        &__li {
            padding: 15px 0;
    
            &:hover {
                background: $menuHover;
                border-radius: 5px;
            }
        }
    
        &__link {
            padding: 15px 25px;
            text-decoration: none;
            color: $black;
    
            &:hover {
                color: $white;
            }
        }
    }

    .search-button {
       button {
        cursor: pointer;
        padding: 15px 15px;
        border: none;
        background: transparent;
       }
    }

    .upper-top {

        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightGray;
        &__search-links {
        }
    }
    .header {
    
        &__upper-top {
        
        }
    
        &__top-social {
        }
    }
    .top-links {
    
        &__ul {
            display: flex;
            gap: 30px;
        }
    
        &__li {

        }
    
        &__link {
            @include Source (400, 12px, 15px, #BDBDBD);
            text-decoration: none;

            &:hover {
                color: $orange;
            }
        }
    }
    .top-social {
    
        &__links {

        }
    
        &__img {
            
        }
    }

    .search-input {
        display: none;
    }
}
