.header {
    position: relative;
     &__top {
         margin: 5px 20px;
         min-width: 280px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
         height: 60px;
     }
 
     &__logo {
         
     }
 
     &__burger {
     }
 
     &__burger-active {
         max-height: 480px;
         position: relative;
         padding: 15px 10px 10px 30px;
     }
 
 
     &__menu {
     }
 
     &__social {
     }
 }