@media screen and (min-width: 1100px) {
        .header {
            min-width: 320px;
            max-width: 1920px;
            position: relative;
             &__top {
                 margin: 5px 20px;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 position: relative;
                 height: 60px;
             }
         
             &__logo {
                 
             }
    
             &__menu-top {
                display: block;
             }
         
             &__burger {
                display: none;
             }
    
             &__search-button {
                display: block
             }
         
             &__burger-active {
                 max-height: 480px;
                 position: relative;
                 padding: 15px 10px 10px 30px;
             }
         
         
             &__menu {
             }
         
             &__social {
    
             }

             &__main-news {
                position: absolute;
                bottom: 210px;
                margin-left: 200px;

            }
        }
    
        .menu-top {
            display: block;
            @include Rubik (700, 14px, 17px, $white);
        
            &__ul {
                display: flex;
                gap: 10px;
            }
        
            &__li {
                padding: 15px 0;
        
                &:hover {
                    background: $menuHover;
                    border-radius: 5px;
                }
            }
        
            &__link {
                padding: 15px 25px;
                text-decoration: none;
                color: $black;
        
                &:hover {
                    color: $white;
                }
            }
        }
    
        .search-button {
            border-radius: 5px;
            button {
             cursor: pointer;
             padding: 15px 15px;
             border: none;
             background: transparent;

            }

            &:active {
                background-color: #FFA726;
            }
         }
     
         .upper-top {
             margin: 0 15px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             border-bottom: 1px solid $lightGray;
             &__search-links {
             }
         }
         .header {
         
             &__upper-top {
             
             }
         
             &__top-social {
             }
         }
         .top-links {
         
             &__ul {
                 display: flex;
                 gap: 30px;
             }
         
             &__li {
     
             }
         
             &__link {
                 @include Source (400, 14px, 18px, #BDBDBD);
                 text-decoration: none;
     
                 &:hover {
                     color: $orange;
                 }
             }
         }
         .top-social {
         
        &__links:not(:last-child) {
            margin-right: 15px;
        }

        &__img {
        }
        
    }

    .search-input {
        display: none;
        position: relative;
		&__label {
		}

		&__input {
            max-width: 1920px;
            min-width: 320px;
            width: 97.3%;
            padding: 0;
            height: 120px;
            border: 0;
            background: $lightGray;

		}


        &__input[placeholder] {
            padding-left: 20px;
            @include Rubik (700, 48px, 57px, #686868);
            
        }
        &__input::placeholder {
            @include Rubik (700, 48px, 57px, #BDBDBD);
        }
    }

    .search-button__search-input_active {
         display: block;
    }


        .search-button {

        		&__search-input {

        		}
        }

        .search-close {
            position: absolute;
            bottom: 30px;
            right: 20px;
            padding: 30px;
            cursor: pointer;
            transition: all 0.3s ease;
            border-radius: 50%;

            &__item-first {
                border-radius: 10px;
                border: 2px solid $black;
                width: 30px;
                position: absolute;
                transform: translate(-50%, 0%) rotate(-45deg);
             }
             &__item-second {
                border-radius: 10px;
                position: absolute;
                width: 30px;
                border: 2px solid $black;
                transform: translate(-50%, 0%) rotate(45deg);
            }
}   
        .search-input {
        
        		&__search-close {
        		}
        }
        .close-button {

        }
    

        .header-bg {
            position: relative;
            margin-bottom: 70px;
            &__background {
                object-fit: cover;
                min-width: 320px;
                max-width: 100%;
                min-height: 400px;
            }
        }
        
        
        .main-news {
            display: flex;
            justify-content: center;
            
            &__content-header {
            }
        
            &__publication-time {
            }
        }
        
        .content-header {
            color: $white;
            bottom: 120px;
            margin-left: 20px;
            max-width: 770px;
            height: fit-content;
        
            &__tag-block {
                display: flex;
                
            }
        
            &__tags {
                margin-right: 20px;
    
                &_world {
                    background: $world
                }
        
                &_network {
                    background: $network
                }
        
                &_art {
                    background: $art
                }
        
                &_science {
                    background: $science
                }
        
                &_auto {
                    background: $auto
                }
        
                &_russia {
                    background: $russia;
                }
        
                &_it {
                    background: $it;
                }
            }
        }
        
        
        .tag {
            letter-spacing: 0.04em;
            text-transform: uppercase;
            padding: 5px 8px;
            border-radius: 5px;
            &__link {
                text-decoration: none;
                @include Rubik (700, 14px, 17px, $white);
            }
        }
        .main-info {
            &__header {
                margin: 25px 0 10px 0;
                @include Rubik (700, 48px, 57px, $white);
            }
        }
        .publication-time {
            display: flex;
        
            &__icon {
                margin-right: 10px;
            }
        
            &__time-tracker {
                @include Source (400, 14px, 18px, $white);
            }
        }
        
}        

@media screen and (min-width: 1200px) {
    .header {
        &__main-news {
            position: absolute;
            bottom: 210px;
            margin-left: 315px;

        }
    }

    .menu-top {
        display: block;
        @include Rubik (700, 14px, 17px, $white);
    
        &__ul {
            display: flex;
            gap: 30px;
        }
    
        &__li {
            padding: 15px 0;
    
            &:hover {
                background: $menuHover;
                border-radius: 5px;
            }
        }
    
        &__link {
            padding: 15px 25px;
            text-decoration: none;
            color: $black;
    
            &:hover {
                color: $white;
            }
        }
    }

    .search-input {
        display: none;
        position: relative;
		&__label {
		}

		&__input {
            max-width: 1900px;
            min-width: 320px;
            width: 99%;
            padding: 0;
            height: 120px;
            border: 0;
            background: $lightGray;

		}


        &__input[placeholder] {
            padding-left: 20px;
            @include Rubik (700, 48px, 57px, #686868);
            
        }
        &__input::placeholder {
            @include Rubik (700, 48px, 57px, #BDBDBD);
        }
    }

    .search-button__search-input_active {
        display: block;
   }
}