.header {
    min-width: 320px;
    max-width: 100%;
    position: relative;
     &__top {
         margin: 5px 20px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
         height: 60px;
     }
 
     &__logo {
         
     }
 
     &__burger {
     }
 
     &__burger-active {
         max-height: 480px;
         position: relative;
         padding: 15px 10px 10px 30px;
     }
 
 
     &__menu {
     }
 
     &__social {
     }
 }

// ============================
// 768px 
// ============================

@media screen and (max-width: 768px) {
    .header {
        min-width: 320px;
        max-width: 100%;
        position: relative;
         &__top {
             margin: 5px 20px;
             display: flex;
             justify-content: space-between;
             align-items: center;
             position: relative;
             height: 60px;
         }
     
         &__logo {
             
         }
     
         &__burger {
         }
     
         &__burger-active {
             max-height: 480px;
             position: relative;
             padding: 15px 10px 10px 30px;
         }
     
     
         &__menu {
         }
     
         &__social {
         }
     }
    
}